name: Release
on:
  push:
    branches:
      - main

env:
  FORCE_COLOR: true
  DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

permissions:
  contents: write
  workflows: write

jobs:
  Build:
    name: Build Equicord
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build web
        run: pnpm buildWebStandalone

      - name: Build
        run: pnpm buildStandalone

      - name: Collect files to be released
        run: |
          cd dist
          mkdir release

          cp browser/browser.* release
          cp Equicord.user.{js,js.LEGAL.txt} release
          cp *.{zip,asar} release
          cp desktop/* release

          for file in equibop/*; do
            filename=$(basename "$file")
            cp "$file" "release/equibop${filename^}"
          done

          find release -size 0 -delete

      - name: Update latest tag
        run: |
          git tag -f latest
          git push -f origin latest

      - name: Upload to Release
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 10
          retry_on: error
          command: |
            gh release edit latest --title "Latest ${{ github.sha }}" --latest
            gh release upload latest dist/release/* --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Notify success
        if: success() && env.DISCORD_WEBHOOK != ''
        run: |
          curl -H "Content-Type: application/json" -d '{"content":"✅ Build successful! Release updated: https://github.com/${{ github.repository }}/releases/tag/latest"}' $DISCORD_WEBHOOK

      - name: Notify failure
        if: failure() && env.DISCORD_WEBHOOK != ''
        run: |
          curl -H "Content-Type: application/json" -d '{"content":"<@297075664530440192> ❌ Build failed! Check: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"}' $DISCORD_WEBHOOK
